#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#def-nav{
    background-color: black !important;
    height: 110px;
}

.brand {
  font-weight: bold;
  font-size: 1.4rem;
  padding-right: 30px;
}

.nav-link {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}


.nav-link.active {
  font-weight: bold;
  color: red;
}

#profile {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.me-auto{
    margin-left: 60px ;
}

.me-auto [href]{
    
    margin: 20px 15px;
    text-decoration: solid;
}



.profile-component{
    margin: 20px;
    text-decoration: solid;
    color: white;
}