.center-form{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-between;
    background-color: black;
    height: 450px;
    margin: 70px 70px;
}

.img-section{
    background-color: aliceblue;
    
    height: 300px;
    width: 400px;
    margin-right: 60px;
}
.form-data{
    display: block;
    justify-content: space-between;
}

.mb-3{
    margin: 10px;
    
}
