.center-div{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-between;
    background-color: white;
    height: 540px !important;
    margin: 70px 70px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

.center-form-reg{
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    
    height: 540px !important;
    margin: 70px 70px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
}

.center-form-log{
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    
    height: 400px !important;
    margin: 70px 70px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
}
.img-section{
    background-color: aliceblue;
    
    height: 300px;
    width: 400px;
    margin-right: 60px;
}
.form-data{
    display: block;
    justify-content: space-between;
}

.mb-3{
    margin: 10px 30px;
    
}

.text-field{
    size: 80px;
}

#btn-confirm{
    background-color: black;
    color: white;
    width: 300px;
    font: bold;
}